#!/bin/bash
set -eu

# Abs path to project dir
PROJECT_DIR="PROJECT_DIR"

cd "$PROJECT_DIR" || exit 1

. "${PROJECT_DIR}/common.sh"
wait_for_network "cern.ch" 5

source aggregator/.venv/bin/activate
python3 -m aggregator.aggregator
