#!/bin/bash

PROJECT_DIR="collector_status_notifier_abs_path"

cd "$PROJECT_DIR" || exit 1

# Loop until there is an internet connection
until ping -c 1 cern.ch &> /dev/null; do
  sleep 5
done

go run .
