SERVER_ENV=production
SERVER_URL=0.0.0.0
SERVER_PORT=9079
ALLOWED_ORIGINS=*
STATS_API_URLS=api-1,api-2
UPSTREAM_TIMEOUT_SECONDS=30
HEALTH_CHECK_INTERVAL_SECONDS=600
PROXY_RATE_LIMIT=1000/hour
REDIS_URL=
REDIS_PORT=
REDIS_USERNAME=default
REDIS_PASSWORD=
REDIS_DB=0
FIREBASE_CREDENTIALS_JSON=
