SERVER_ENV=dev
SERVER_URL=0.0.0.0
SERVER_PORT=9098
SUPABASE_URL=
SUPABASE_USER=
SUPABASE_PASS=
SUPABASE_PORT=
SUPABASE_NAME=
SENTRY_DSN=
SENTRY_SERVER_NAME=stats-API
ALLOWED_ORIGINS=
FIREBASE_CREDENTIALS_JSON=
REDIS_URL=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=
# REDIS_TTL is in seconds
REDIS_TTL=3600