AIRFLOW_USERNAME=
AIRFLOW_PASSWORD=
AIRFLOW_PORT=8085
AIRFLOW_DB_USER=
AIRFLOW_DB_PASSWORD=
AIRFLOW_DB_NAME=
AIRFLOW_DB_HOST=
AIRFLOW_DB_PORT=5433

AGGREGATOR_BASE_URL=http://aggregator:9091
HOUSEKEEPING_BASE_URL=http://firebase_housekeeping:9090
DB_BACKUP_HOST=localhost
DB_BACKUP_PORT=8080
DB_BACKUP_WORKFLOW_NAME=db_backup_workflow
DB_BACKUP_WORKFLOW_VERSION=1
DB_BACKUP_POLL_INTERVAL_SECONDS=60
DB_BACKUP_POLL_TIMEOUT_SECONDS=86400
REQUEST_TIMEOUT_SECONDS=60
TIMEZONE=Europe/Paris
WORKFLOW_POLL_INTERVAL_SECONDS=300
WORKFLOW_POLL_TIMEOUT_SECONDS=86400
AIRFLOW__LOGGING__LOGGING_LEVEL=DEBUG
AIRFLOW__API_AUTH__JWT_SECRET=
AIRFLOW__LOGGING__TASK_LOG_READER=file.task

HOUSEKEEPING_EVERY_N_DAYS=5
HOUSEKEEPING_ANCHOR_DATE=2026-01-01

AIRFLOW__SENTRY__SENTRY_ON=True
AIRFLOW__SENTRY__SENTRY_DSN=
SENTRY_ENVIRONMENT=prod
SENTRY_DSN=