MATTERMOST_WEBHOOK_URL=
SENTRY_DSN=
HTTP_PORT=9099
CHECK_ENDPOINT_PATH=/check
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_GRAPHQL_ENDPOINT=https://api.cloudflare.com/client/v4/graphql
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_R2_BUCKET_FILTER=
CLOUDFLARE_GRAPHQL_RETRY_ATTEMPTS=5
CLOUDFLARE_GRAPHQL_RETRY_DELAY_SECONDS=1
CLOUDFLARE_GRAPHQL_RETRY_MAX_DELAY_SECONDS=30
