import os

SERVICE_NAME = "Aggregator"

SERVICE_DESCRIPTION = "Aggregator microservice"

SERVICE_VERSION = "v1"

TIMESTAMP_FORMAT = "%Y-%m-%d %H:%M:%S.%f"

TIMEZONE = "Europe/Paris"

FIREBASE_CREDENTIALS = os.path.join(os.path.dirname(os.path.abspath(__file__)), "firebase_credentials.json")

FIREBASE_DB_URL = "firebase_db_url"

FIREBASE_STATISTICS_NODE = "stats"

MAC_FILTER = []

RSA_KEY_PATH = os.path.join(os.path.dirname(os.path.abspath(__file__)), "private_key.pem")

# Project uses CERN's Mattermost
SLACK_WEBHOOK_URL = "mattermost_webhook_url"

WORKFLOW_FINAL_STATUS_TTL_SECONDS = 120

REDIS_CACHE_DB = 2