SERVER_URL=0.0.0.0
SERVER_PORT=9097
DB_URL=
DB_USER=
DB_PASS=
DB_PORT=
DB_NAME=
SUPABASE_URL=
SUPABASE_USER=
SUPABASE_PASS=
SUPABASE_PORT=
SUPABASE_NAME=
SUPABASE_CONNECTION=
SENTRY_DSN=
SENTRY_SERVER_NAME=stats-service
MAC_HASH_PEPPER=