import os

# Check if WLAN1 is available first, only use WLAN0 as backup (only true for RPi devices).
# WLAN2 is used when RPi device has multiple antennas.
INTERFACES = ["wlan1", "wlan2", "wlan0"]

# Channel hopping interval in seconds (100 ms)
CHANNEL_HOP_INTERVAL = 0.1

# 2.4 GHz Wi-Fi channel that are to be used in channel hopping.
# FIXME: Channels 12 and 13 exist in some countries, but are rarely used in practice. Consider removing them.
CHANNELS = range(1, 14)

TIMESTAMP_FORMAT = "%Y-%m-%d %H:%M:%S.%f"

TIMEZONE = "Europe/Paris"

SSID_FILTER = []

FIREBASE_CREDENTIALS = os.path.join(os.path.dirname(os.path.abspath(__file__)), "firebase_credentials.json")

FIREBASE_DB_URL = "firebase_db_url"

# Name your RPI NODE in Firebase DB
FIREBASE_NODE = "RPI-1"

# Send status update every 10 minutes
FIREBASE_TIMEOUT_STATUS = 60 * 10

# Example MAC address format: xx:xx:xx:xx:xx:xx
MAC_FILTER = []

RSA_KEY_PATH = os.path.join(os.path.dirname(os.path.abspath(__file__)), "public_key.pem")
