import os

# Test if WLAN1 is available first, only use WLAN0 as backup (only true for RPi devices)
INTERFACES = ["wlan1", "wlan0"]

TIMESTAMP_FORMAT = "%Y-%m-%d %H:%M:%S.%f"

TIMEZONE = "Europe/Paris"

SSID_FILTER = []

FIREBASE_CREDENTIALS = os.path.join(os.path.dirname(os.path.abspath(__file__)), "firebase_credentials.json")

FIREBASE_DB_URL = "firebase_db_url"

# Name your RPI NODE in FireBase DB
FIREBASE_NODE = "RPI-1"

# Send status update every 10 minutes
FIREBASE_TIMEOUT_STATUS = 60 * 10

# Example MAC address format: xx:xx:xx:xx:xx:xx
MAC_FILTER = []

RSA_KEY_PATH = os.path.join(os.path.dirname(os.path.abspath(__file__)), "public_key.pem")
